[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
alembic = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.ormar]
extras = [ "sqlite",]
